version: '3'

services:
  test_google_pathways_api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - test_postgres_service
    environment:
      - APP_ENV=TEST
      - SECRET_KEY=supersecretkey
    restart: "no"
    command: >
      bash -c "bash scripts/migrate.sh
      && pytest -s"
  test_postgres_service:
    image: postgres:12
    environment:
      - POSTGRES_USER=brighthive_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=google_pathways_api
    ports:
      - "5433:5432"